.centered{
    text-align: center;
}

#logoimg{
    max-width: 100%;
    height: auto;
    width: auto\9;
}

#leftframe{
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
}
